
/* v1 Type stack */
@media only screen 
and (min-width: 600px) {  

    /* headline styles */
    .v1-headline-xxxxl {
        font-size: 144px;
        line-height: 144px;
        letter-spacing: -3.6px;
    }

    .v1-headline-h2 {
        font-size: 120px;
        line-height: 120px;
        letter-spacing: -3.6px;
    }

    .v1-headline-xxxl { 
        font-size: 96px;
        line-height: 96px;
        letter-spacing: 0.36px;
    }

    .v1-headline-xxl { 
        font-size: 72px;
        line-height: 72px;
        letter-spacing: -1.8px;
    }

    .v1-headline-xl { 
        font-size: 60px;
        line-height: 60px;
        letter-spacing: -1.2px;
    }

    .v1-headline-l { 
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -1.2px;
    }

    .v1-headline-m { 
        font-size: 36px;
        line-height: 36px;
        letter-spacing: 0px;
    }

    .v1-headline-s { 
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0px;
    }

    .v1-headline-xs { 
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0px;
    }

    .v1-headline-xxs { 
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.36px;
    }

    .v1-headline-xxxs { 
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.36px;
    }

    /* paragraph styles */
    .v1-paragraph-xl { 
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0px;
    }

    .v1-paragraph-l { 
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.36px;
    }

    .v1-paragraph-m { 
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.36px;
    }

    .v1-paragraph-s { 
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.18px;
    }

}

@media only screen 
and (max-width: 599px) {  

    /* headline styles */
    .v1-headline-xxxxl { 
        font-size: 96px;
        line-height: 96px;
        letter-spacing: 0.36px;
    }

    .v1-headline-h2, .v1-headline-xxxl { 
        font-size: 72px;
        line-height: 72px;
        letter-spacing: -1.8px;
    }

    .v1-headline-xxl { 
        font-size: 60px;
        line-height: 60px;
        letter-spacing: -1.2px;
    }

    .v1-headline-xl { 
        font-size: 36px;
        line-height: 36px;
        letter-spacing: 0px;
    }

    .v1-headline-m { 
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0px;
    }

    .v1-headline-s, .v1-headline-xs { 
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0px;
    }

    .v1-headline-xxs { 
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.36px;
    }

    .v1-headline-xxxs { 
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.36px;
    }

}